/***********************************************************************************************/

#blogs-component, #header-component { background: rgb(200, 200, 200); }
#layout-component .nav-link:hover { background-color: rgb(54, 54, 54); }
#layout-component, #blogs-component .help-box { position: sticky; }

.toast{
  position: fixed;
  top: 40%;
  left: 38%;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.2) !important;
}
#layout-component {
    top: 0;
    z-index: 10;
}